.bg-nav{
    /* background-color:#333; */
    background-color:#3AAFA9;
}
.img-brand{
    width: 75px;
}
.img-brand1{
    width: 300px;
    height:200px;
    margin-left:440px;
    margin-top:50px;
}
body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #3AAFA9;
    margin-left: 340px;
  }
  .topnav-lain{
    overflow: hidden;
    background-color: #3AAFA9;
    margin-left: 500px;
  }
  
  .topnav a {
    float: left;
    color:#EEE8AA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .topnav a:hover {
    background-color:transparent;
    color: whitesmoke;
  }

  .btn-search {
        background: #EEE8AA;
        border-radius: 50px;
        color:#3AAFA9;
        border-width: 1px;
        border-style: solid;
        border-color:#3AAFA9;
      }
      .btn-search:link, .btn-search:visited {
        color: #3AAFA9;
      }
      .btn-search:active, .btn-search:hover {
        background: #EEE88A;
        color: #3AAFA9;
      }

#border{
    margin-left: 200px;
    margin-right: 200px;
    padding: 14px 16px;
}
#kotak{
  width:300px;
  height:190px;
  background:#EEE8AA;
  border:solid 1px rgb(58,175,169);
  margin-top: 100px;
  margin-bottom: 60px;
  position: center;
  overflow: hidden;
}
#box{
  width:500px;
  height:790px;
  background:#EEE8AA;
  border:solid 1px rgb(58,175,169);
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: 380px;
  position: center;
  overflow: hidden;
}
#box1{
  width:500px;
  height:355px;
  background:#EEE8AA;
  border:solid 1px rgb(58,175,169);
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: 380px;
  position: center;
  overflow: hidden;
}
#boxAssign{
  width:500px;
  height:400px;
  background:#EEE8AA;
  border:solid 1px rgb(58,175,169);
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: 380px;
  position: center;
  overflow: hidden;
}
#boxpilihan{
  width:500px;
  height:230px;
  background:#EEE8AA;
  border:solid 1px rgb(58,175,169);
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: 380px;
  position: center;
  overflow: hidden;
}

.box2{
  width:500px;
  height:330px;
  background:#EEE8AA;
  border:solid 1px rgb(58,175,169);
  margin-top: 70px;
  margin-bottom: 60px;
  margin-left: 380px;
  position: center;
  overflow: hidden;
}
#boxF{
  width:500px;
  height:630px;
  background:#EEE8AA;
  border:solid 1px rgb(58,175,169);
  margin-top: 130px;
  margin-bottom: 60px;
  margin-left: 380px;
  position: center;
  overflow: hidden;
}
#boxAOP{
  width:500px;
  height:330px;
  background:#EEE8AA;
  border:solid 1px rgb(58,175,169);
  margin-top: 150px;
  margin-bottom: 60px;
  margin-left: 380px;
  position: center;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.jawaban{
  border: 1px solid #3AAFA9;
  padding: 9px;
  border-radius: 10px;
  margin-top: 5px;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
